.env
*.key
*.pem


*.log
docker-compose.override.yml


.DS_Store
Thumbs.db


.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.Python
.env/
venv/
env/
build/
dist/

data/files/
data/logs/
data/license/
data/storage/
data/tmp/
data/keys.json
data/settings.json
data/secrets.json